@{
    ViewBag.Title = "部门信息列表";
}
<div ng-controller="messageController">
     <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li><a href="/">首页</a></li>
                <li class="active">消息中心</li>
            </ol>
        </div>
    </div>

    <div class="row">
        
        <div class="col-md-12">
            <div class="btn-group pull-left form-inline">
                <button class="form-control" type="button" ng-click="openDialog()"><i class="fa fa-fw fa-user-plus"></i> 发布</button>
                <button class="form-control" type="button" name="delMsgBtn" ng-click="batchRemove()" disabled><i class="fa fa-fw fa-trash"></i> 删除</button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default" style="height:100%;overflow:auto;">
                <table class="table table-hover table-bordered">
                    <tr>
                        <th width="30"></th>
                        <th>序号</th>
                        <th>发送人</th>
                        <th>发送时间</th>
                        <th>消息内容</th>
                    </tr>
                    <tbody>
                        <tr ng-repeat="item in items" ng-cloak>
                            <td><input type="checkbox" ng-click="selMsg(item)" /></td>
                            <td>{{$index + 1}}</td>
                            <td>{{item.senderName}}</td>
                            <td>{{item.sendDate | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                            <td><a href="javascript:;" ng-click="seeDetail(item)">{{item.contents}}</a></td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="6" style="text-align: center;">
                                <pagination max-size="1" items-per-page="searchModel.pageSize" total-items="searchModel.totalCount" ng-model="searchModel.pageIndex"
                                            class="pagination-sm" boundary-links="true" rotate="true" ng-change="load()"></pagination>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    @Html.Partial("Edit")
    @Html.Partial("Detail")
</div>
@section scripts{
    <script type="text/javascript">
        seajs.use("pages/message/index.js", function () {
            angular.bootstrap(document, ['app']);
        })
    </script>
}