@{
    ViewBag.Title = "修改密码";
}
<div ng-controller="changePasswordController">
    <div class="bs-callout bs-callout-primary col-md-12">
        <h4>修改密码</h4>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    旧密码<input class="form-control" type="password" ng-model="userModel.oldPassword" /><br />
                    新密码<input class="form-control" type="password" ng-model="userModel.newPassword" /><br />
                    确定密码<input class="form-control" type="password" ng-model="userModel.cfgNewPassword" /><br />
                    <button class="btn btn-primary" ng-click="changePassword()">修改</button>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        seajs.use("pages/user/changePassword.js", function () {
            angular.bootstrap(document, ['app']);
        })
    </script>
}