<div class="modal fade" id="userEditModal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">用户信息</h4>
            </div>
            <div class="modal-body">
                <table class="table table-striped table-bordered" style="text-align:center;">
                    <tbody>
                        <tr>
                            <td>用户名</td>
                            <td><input type="text" class="form-control" ng-model="userModel.userName" /></td>
                        </tr>
                        <tr>
                            <td>邮箱</td>
                            <td><input type="text" class="form-control" ng-model="userModel.email" /></td>
                        </tr>
                        <tr ng-show="userModel.id == undefined">
                            <td>密码</td>
                            <td><input type="password" class="form-control" ng-model="userModel.password" /></td>
                        </tr>
                        <tr ng-show="userModel.id == undefined">
                            <td>确认密码</td>
                            <td><input type="password" class="form-control" ng-model="userModel.cfgPassword" /></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" ng-click="save()">保存</button>
            </div>
        </div>
    </div>
</div>