@{
    ViewBag.Title = "部门信息详情";
}
@Html.Partial("Navigation", "departmentList")
<div id="page-wrapper">
    <div id="page-inner">
        <div class="row">
            <div class="col-lg-12">
                <ol class="page-header breadcrumb">
                    <li><a href="/Home/Index">首页</a></li>
                    <li><a href="/Department/List">部门管理</a></li>
                    <li class="active">部门信息详情</li>
                </ol>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3 ">
                    <ul class="nav nav-tabs nav-stacked" id="myTab">
                        <li class="active"><a href="#setting">安全设置</a></li>
                        <li><a href="#baseData">基本资料</a></li>
                        <li><a href="#contract">通讯录</a></li>
                    </ul>
                </div>
                <div class="col-md-9 tab-content">
                    <div class="tab-pane panel panel-default active" id="setting">
                        <div class="panel-heading">安全设置</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <img src="~"/>
                                </div>
                                <div class="col-md-9">
                                    <p>登陆账号：</p>
                                    <p>账号ID：</p>
                                    <p>创建时间：</p>
                                    <p><a href="">修改密码</a></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane panel panel-default" id="baseData">
                        <div class="panel-heading">基本资料</div>
                        <div class="panel-body">
                            基本资料
                        </div>
                    </div>
                    <div class="tab-pane panel panel-default" id="contract">
                        <div class="panel-heading">通讯录</div>
                        <div class="panel-body">
                            通讯录
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div>
    </div>
</div>
@section scripts{
    <script>
        $(function () {
            $('#myTab a').click(function (e) {
                e.preventDefault();
                $(this).tab('show');
            })
        })
    </script>    
}