@{
    ViewBag.Title = "文章列表";
}
@model int
<div ng-controller="articleDetailController" ng-init="init(@Model)">

    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li><a href="/">首页</a></li>
                <li><a href="~/article/list">文章列表</a></li>
                <li class="active">文章详情</li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <ul style="margin:0 0 0 15px;padding:0;">
                        <li ng-repeat="item in items" style="padding:2px;">
                            <a href="~/article/detail/{{item.id}}" style="width: 100px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                {{item.title}}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-body messageDetail">
                    <h2>{{articleModel.title}}</h2>
                    <div class="messageDate">发布时间：<span>{{articleModel.addTime | date:'yyyy-MM-dd'}}　类型：{{articleModel.type | ArticleType}}</span></div>
                    <div class="messageContent" ng-bind-html="articleModel.contents | to_trusted"></div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        seajs.use("pages/article/detail.js", function () {
            angular.bootstrap(document, ['app']);
        })
    </script>
}
