<div class="modal fade" id="permissionEditModal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">权限信息编辑</h4>
            </div>
            <div class="modal-body">
                <table class="table table-striped table-bordered" style="text-align:center;">
                    <tbody>
                        <tr>
                            <td>权限名称</td>
                            <td><input type="text" class="form-control" ng-model="permissionModel.name" /></td>
                        </tr>
                        <tr>
                            <td>权限Url</td>
                            <td><input type="text" class="form-control" ng-model="permissionModel.url" /></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="save()">保存</button>
            </div>
        </div>
    </div>
</div>