@{
    ViewBag.Title = "部门信息";
}
@Html.Partial("Navigation", "index")
<div id="page-wrapper">
    <!-- /.row -->
    <div id="page-inner">
        <h1 class="text-danger">404</h1>
        <h2 class="text-danger">页面不见了.</h2>
    </div>
</div>


