@{
    ViewBag.Title = "用户信息";
}
<div ng-controller="">

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div>姓名</div>
                </div>
            </div>
        </div>
    </div>

</div>
@*@section scripts{
    <script type="text/javascript">
        seajs.use("pages/user/index.js", function () {
            angular.bootstrap(document, ['app']);
        })
    </script>
}*@