<div class="navbar-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <footer role="contentinfo">
                    <p class="left"></p>
                    <p class="right">&copy; 2015 <a href="http://xavierit.cn" target="_blank">xavierit.cn</a></p>
                </footer>
            </div>
        </div>
    </div>
</div>