<!--  组织架构树  -->
<div class="panel panel-default" style="height:100%;">
    <div class="panel-heading"><h3 class="panel-title">公司架构</h3></div>
    <div class="panel-body">
        <div>
            <treecontrol class="tree-classic" tree-model="treedata" on-selection="showSelected(node)">{{node.label}}</treecontrol>
        </div>
    </div>
</div>